.card {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  color: black;
  background-color: #fff;

  .text-div {
    padding-left: 1rem;
    padding-right: 1rem;

    .title {
      font-size: 2rem;
      font-weight: bold;
    }

    .second-text {
      font-size: 1.2rem;
    }

    .description {
      font-size: 1rem;
    }

    .subtitle {
      font-size: 1.2rem;
      font-weight: bold;
    }

    .items {
      display: flex;
      text-align: center;

      .item1 {
        flex: 1 1 auto;
        background-color: lightgray;
        padding: .5rem;
        border-radius: 20px;
        margin-right: 5px;
      }

      .item2 {
        flex: 1 1 auto;
        background-color: lightgray;
        padding: .5rem;
        border-radius: 20px;
        margin-right: 5px;
      }

      .item3 {
        flex: 1 1 auto;
        background-color: lightgray;
        padding: .5rem;
        border-radius: 20px;
        margin-right: 5px;
      }

      .item4 {
        flex: 1 1 auto;
        background-color: lightgray;
        padding: .5rem;
        border-radius: 20px;
      }
    }

    .action {
      color: #ed6fe7;
    }
  }
}